@import 'src/app/variables.scss';

.SmallRoundButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: $main-color;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-width: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

.SmallRoundButton:hover {
    background-color: $main-color-hover;
}
