@import 'src/app/variables.scss';



@mixin conteiner{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    padding-top: 10px;
}

.product_conteiner{
    @media (width <= 848px){
        &_m{
            display:flex;
            @include conteiner;
        }
        &_l{
            display:none;
        }
    }
}

.product_conteiner{
    @media (848px < width <= 1104px){
        &_m{
            display:flex;
            @include conteiner;
        }
        &_l{
            display:none;
        }
    }
}

.product_conteiner{
    @media (1104px < width <= 1272px){
        &_m{
            display:none;
        }
        &_l{
            display:flex;
            @include conteiner;
        }
    }
}

.product_conteiner{
    @media (1272px < width <= 1424px){
        &_m{
            display:flex;
            @include conteiner;
        }
        &_l{
            display:none;
        }
    }
}

.product_conteiner{
    @media (1424px < width){
        &_m{
            display:none;
        }
        &_l{
            display:flex;
            @include conteiner;
        }
    }
}     
    
    




        