@import '@/app/variables.scss';

$size_1: 532px;
$size_2: 848px;
$size_3: 1104px;
$size_4: 1272px;
$size_5: 1424px;

@mixin container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.product_container {
    @media (width <= $size_1) {
        &_mobile {
            display: block;
            max-width: 326px;
            padding-bottom: 100px;
        }

        &_m {
            display: none;
        }
        &_l {
            display: none;
        }
    }
}

.product_container {
    @media ($size_1 < width <= $size_2) {
        &_mobile {
            display: none;
        }
        &_m {
            display: flex;
            @include container;
        }
        &_l {
            
            display: none;
        }
    }
}

.product_container {
    @media ($size_2 < width <= $size_3) {
        &_mobile {
            display: none;
        }
        &_m {
            display: flex;
            @include container;
        }
        &_l {
            display: none;
        }
    }
}

.product_container {
    @media ($size_3 < width <= $size_4) {
        &_mobile {
            display: none;
        }
        &_m {
            display: none;
        }
        &_l {
            display: flex;
            @include container;
        }
    }
}

.product_container {
    @media ($size_4 < width <= $size_5) {
        &_mobile {
            display: none;
        }
        &_m {
            display: flex;
            @include container;
        }
        &_l {
            display: none;
        }
    }
}

.product_container {
    @media ($size_5 < width) {
        &_mobile {
            display: none;
        }
        &_m {
            display: none;
        }
        &_l {
            display: flex;
            @include container;
        }
    }
}

