.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .slideImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }
  
  .link {
    margin-top: 10px;
    text-decoration: underline;
    color: blue;
  }
  