.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inputWrapper {
    position: relative;
    width: 100%;
    max-width: 300px; /* Увеличенный максимальный размер */
}

.inputField {
    width: 100%;
    padding: 10px 20px; /* Уменьшено правое поле, кнопку будем центрировать */
    height: 50px;
    border-radius: 25px; /* Округление более умеренное */
    background: white; /* Белый фон */
    border: 1px solid #ccc; /* Легкая граница */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.inputField:hover {
    border-color: #888; /* Изменение цвета границы на hover */
}

.inputField:focus {
    outline: none;
    border-color: #FFC85E; /* Цвет границы при фокусе */
}

.submitButton {
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    top: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #FFC85E;
    color: white;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #E6AC46;
}
