@import 'src/app/variables.scss';

.BreadCrumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $secondary-color;
    margin-bottom: 20px;

    a {
        color: $secondary-color;
        text-decoration: none;

        &:hover {
            color: $secondary-color-hover;
        }

        &:after {
            content: '/';
            margin: 0 10px;
            color: $secondary-color;
        }
    }

    a:last-child:after {
        content: '';
        margin: 0;
    }
}
