.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inputWrapper {
    position: relative;
    width: 100%;
    max-width: 200px;
}

.inputField {
    width: 100%;
    padding: 10px 50px 10px 20px;
    height: 56px;
    border-radius: 50px;
    background: #EDEDED;
    border: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}


.inputField:hover {
    background: #E0E0E0;
}

.inputField:focus {
    outline: none;
}

.submitButton {
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    top: 50%;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #FFC85E;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #E6AC46;
    border: 0;
}